<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %> 
<body>
    <%- include('./partials/nav') %>
    <div class="card">
        <div class="card-body">
          <h1>Oops Page not found 404 :(</h1>
        </div>
      </div>
    <%- include('./partials/footer') %>
</body>
</html>