<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/nav') %>
    <div class="row">
        <div class="container my-5 col-6" >
            <div class="card mb-2">
                <div class="card-body">
                    <h2 class="card-title">About me</h2>
                    <p class="card-text">More about me <strong>:)</strong></p>
                </div>
            </div>
        </div>
    </div>
    <%- include('./partials/footer') %>
</body>
</html>